<%= render partial: "common/panel" %>

<table class="table">
	<tr>
		<th>刊登公司</th>
		<th>職缺</th>
		<th>薪資</th>
		<th>刊登時間</th>
		<th>有效日期</th>
	</tr>
	<tbody>
		<% @inside_jobs.each do |inside_job| %>
			<tr>
				<td><%= inside_job.company %></td>
				<td><%= link_to inside_job.title, "http://jobs.inside.com.tw/#{inside_job.url}" %></td>
				<td width="38%"><strong><%= inside_job.salary %></strong></td>
				<td><span class="btn btn-success"><%= inside_job.post_date %></span></td>
				<td><span class="btn btn-warning"><%= inside_job.effective_date %></span></td>
			</tr>
		<% end %>
	</tbody>
</table>